{% extends "base.html" %} {% block content %}
<nav class="breadcrumb-nav">
  <ul class="breadcrumb">
    <li><a href="{% url 'main' %}">Главная</a></li>
    <li><a href="{% url 'admin_panel' %}">Админ-панель</a></li>
    <li>Назначить роль</li>
  </ul>
</nav>
<h2>Назначить роль пользователю</h2>
<form method="post">
  {% csrf_token %}
  <label for="username">Имя пользователя:</label>
  <input type="text" id="username" name="username" required />

  <label for="role">Роль:</label>
  <select id="role" name="role" required>
    <option value="user">User</option>
    <option value="manager">Manager</option>
    <option value="admin">Admin</option>
  </select>

  <button type="submit" class="btn-register">Назначить</button>
</form>
<button class="btn-register">
  <a href="{% url 'admin_panel' %}">Назад в админ-панель</a>
</button>
{% endblock %}
